<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Jeffrey</title>
  <link rel="stylesheet" href="/stylesheets.bootstrap.min.css"
</head>
<body>
<form name="loginForm">
	Email Address: <input type="text" name"email"/><br/>
	Password: <input type="password" name"pass"/><br/>
	<input type="submit" value="Log In"/>
</body>
</html>

