<!DOCTYPE html>
<html>
<head>
  <title>Sign Up for Jeffrey</title>
  <link rel="stylesheet" href="/stylesheets.bootstrap.min.css"
</head>
<body>
<form name="sign-up">
First name: <input type="text" name="firstname"><br>
Last name: <input type="text" name="lastname"><br>
Email Address: <input type="text" name="firstname"><br>
Password: <input type="text" name="lastname"><br>
Confirm Password: <input type="text" name="lastname"><br>
<input type="submit" value="Sign up"/>
</form>
</body>
</html>
