<!DOCTYPE html>
<html>
<head>
  <title>Confirm Your Purchase</title>
  <link rel="stylesheet" href="/stylesheets.bootstrap.min.css"
</head>
<body>
Confirm your order, please. 
</body>
</html>




 <section id="guides" class="clearfix">
      <div>
        <h1>Make the purchase!: <%= product.name %></h1>
        <div class="image">
          <img src="/images/<%= product.image %>" />
        </div>
        <div>
          <form action="/checkout" method="post">
            <span>$<%= product.price.toFixed(2) %></span><br />
            <input type="hidden" name="product" value="<%= product_id %>" />
            <label for="coupon">If you have a coupon, enter it here:</label>
            <input type="text" name="coupon" />
            <button type="submit" >Checkout</button>