<!DOCTYPE html>
<html> 
  <head>
    <title>HTML Form</title>

<!-- Is the CSS below necessary? -->
    <style type="text/css">
    h2 (letter-spacing: 10px; font-size .2in)
    </style>

<!-- We have Bootstrap below so might not be required -->

  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/theme.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">                  
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/theme.min.js"></script>
    <script src="/js/map.min.js"></script>

  </head>
  <body>

  <!-- Confused about the form action section - where should I send this? -->
   <form method="post" action="/users">
    <div>
        <input type="text" name="user[email]" placeholder="Email">
      </div>
      <div>
        <input type="text" name="user[password]" placeholder="Password">
      </div>
      <button>Save </button>
    </form>
  </body>
</html>
 